*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    height: 90vh;
    margin-left: 10%;
}

.top{
    text-align: center;
    border: 1px solid black;
}
.mid{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 70vh;
}
.mid2 table tr th{border: 1px solid black;}
.mid2 table tr td{border: 1px solid black;
height: 40vh;}
table{width: 100%;}
.last table tr td{border: 1px solid black;
height: 25vh;}